@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


:root{
    --azul-noite: #1A1A2E;
    --azul-ceu: #3BB8E8;
    --azul-confeiteiro: #2196A4;
    --azul-gelo: #EEF8FD;
    --baunilha: #F9F3EC;
    --amarelo-doce: #F7C94B;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family:  'Nunito', Arial sans-serif;
    background-color: var(--baunilha);
    color:var(--azul-noite);
}

main{
    max-width: 1500px;
    min-width: 290px;
    height: 100%;
    margin: auto;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.276);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

 

main h2{
    font-weight: bolder;
    color: var(--azul-confeiteiro);
}

main h3 a{
    text-decoration: none;
    color: var(--azul-confeiteiro);
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    
}

main h3:hover{
    
    text-decoration: underline;
}

header{
    font-family: 'Dancing Script', 'cursive';
    font-size: 2em;
    background-color: var(--azul-ceu);
    color: var(--azul-noite);
    padding: 30px;
    text-align: center;
}

header h1{
    text-shadow: 0px 0px 2px black;
}

nav{
    text-align: center;
    background-color: var(--azul-ceu);
    padding: 10px;
    box-shadow: 0px 3px 3px  rgba(0, 0, 0, 0.281);
}


nav > a{
    transition-duration: 0.3s;
    color: var(--azul-noite);
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

nav > a:hover{
    background-color: var(--azul-noite);
    text-decoration: underline;
    color: var(--azul-ceu);
}


#inicio{
    background-color: var(--azul-gelo);
    text-align:center;
    padding: 20px 20px 0px 20px;
}

#incio h2{
    margin: 10px;
}

#inicio > p{
    margin: 20px 0px;
    padding-bottom: 10px;
}

.instagram{
    background-color:white;
    color:var(--azul-confeiteiro);
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.271);
}

.instagram:hover{
    background-color: var(--azul-confeiteiro);
    color: white;
    box-shadow: 0px 0px 3px rgb(33, 151, 164);
}

#docinhos{
    padding: 40px;
    background-color: var(--azul-gelo);
    text-align: center;
}

#docinhos > h2{
    padding: 10px;
    margin-bottom: 10px;
}

.doces{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.doces p{
    font-size: 1em;
    color: var(--azul-confeiteiro);
    margin-top: 4px;
    font-weight: 600;
}

.flip-card{
    perspective: 900px;
    
}

.flip-card h3{
    padding: 20px 20px 10px 20px;
}

.inner{
    width: 210px;
    height: 210px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
    border: 1px solid var(--azul-ceu);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.203);
}

.inner:hover{
    transform: rotateY(180deg);
    border: 1px solid black;
}


.front{
    width: 100%;
    height: 100%;
    background-color: var(--baunilha);
}

.front h3{
    padding: 40px 40px 10px 40px;
}

.front h3:hover{
    color: var(--azul-confeiteiro);
}

.front, .back{
    
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front img{
    display: inline;
    text-align: center;
    margin-right: 20px;
    width: 100px;
    height: 70px;
}

.back{
    font-size: 0.8em;
    background-color: var(--azul-ceu);
    transform: rotateY(180deg);
}

.back h3{
    padding-bottom: -10px;
}


.back .preco{
    color: var(--azul-noite);
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    width: 80%;
    text-align: center;
    color: var(--azul-noite);
    border-bottom: 0.5px solid rgba(13, 58, 74, 0.2);
    padding: 4px;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9em;
}

 
.back .ingredientes {
    font-size: 0.8em;
    color: var(--azul-noite);
    text-align: center;
    margin-top: 8px;
    margin-left: 20px;
    margin: 8px 20px 0px 20px;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

#bolos{
    background-color: var(--azul-gelo);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding:50px;
    text-align:center;
}

#contato{
    padding: 20px;
    display: inline;
    justify-content: center;
}

#bloco-contato{
    margin: auto;
    width: 500px;
}


#contato  h2{
    color: var(--azul-confeiteiro);
    margin-left: 100px;
}

#contato  p{
    padding: 10px;
    margin-left: 90px;
    margin-bottom: 10px;
}

#contato a{
    color: var(--azul-confeiteiro);
    text-decoration: none;
}

#contato a:hover{
    text-decoration: underline;
}


button{
    background-color:var(--azul-confeiteiro);
    border: none;
    color: white;
    padding: 15px 35px;
    display: block;
    margin: auto;
    font-size:16px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover{
    text-decoration: underline;
}

footer{
    background-color:var(--azul-noite);
    color:white;
    text-align:center;
    padding:20px;
}

footer > p{
    padding: 3px;
}